/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

#home {
  background-image: url("/src/images/Final-background-notitle.png");
}

.restart {
  width: 5%;
  height: 5%;
  padding-left: 1rem;
  padding-top: 1rem;
}
